.btn-pill--small {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.5rem 1.375rem;
    color: var(--white);
    background-color: var(--cyan);
    border-radius: 48px;
    text-decoration: none;
    transition: background 0.15s;

    &:hover,
    &:focus {
        background-color: hsl(180, 66%, 69%);
    }
}

@media (min-width: 991px) {
    .btn-pill--small {
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 1.6;
        padding: 0.5rem 1.5rem;
    }
}
